body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  margin: 0;
  font-family: Arial, sans-serif;
}
.calculator {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(170, 140, 140, 0.75);
  width: 300px;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 20px;
}
button {
  padding: 20px;
  font-size: 18px;
  border: none;
  background-color: #f5f5f5;
  cursor: pointer;
}
button:hover {
  background-color: rgb(51, 139, 139);
  color: #fff;
  box-shadow: 0 0 5px 0 rgba(165, 105, 105, 0.75);
}
#result {
  width: 98%;
  padding: 5px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 5vh;
  text-align: right;
}
.equals {
  width: 100%;
  background-color: green;
  color: white;
}
.buttons button:last-child{
  width: calc(100% + 4.8rem);
  background-color: green;
  color:white;
}